@import "../../styles/variables";
@import "../../styles/mixins";

.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.title {
  margin-bottom: 25px;
  font-size: 36px;
  color: #fff;
  font-family: $exo-font;
  text-align: center;
}

@include phone {
  .title {
    font-size: 32px;
  }
}
