@font-face {
  font-family: "Exo2.0-Thin";
  src: url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.eot");
  src: url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.svg#Exo2.0-Thin") format("svg"),
    url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.ttf") format("truetype"),
    url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.woff") format("woff"),
    url("assets/fonts/Exo2.0-Thin/Exo2.0-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("assets/fonts/TrebuchetMS/TrebuchetMS.eot");
  src: url("assets/fonts/TrebuchetMS/TrebuchetMS.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS.svg#TrebuchetMS") format("svg"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS.ttf") format("truetype"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS.woff") format("woff"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrebuchetMS";
  src: url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.eot");
  src: url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.svg#TrebuchetMS-Bold")
      format("svg"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.ttf") format("truetype"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.woff") format("woff"),
    url("assets/fonts/TrebuchetMS/TrebuchetMS-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
