@import "variables";
@import "mixins";

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-weight: normal;
  background-color: black;
  height: 100%;
  background-image: linear-gradient(
      to top,
      #000000,
      rgba(0, 0, 0, 0.01),
      #000000
    ),
    url("assets/images/Pattern.jpg");
}

* {
  box-sizing: border-box;
  font-family: $trebuchet-font;
  font-size: inherit;
  font-weight: inherit;
}

@include max-media(1039px) {
  body,
  html {
    height: auto;
  }
}
