//color
$primary-decoration-color-default: #1698d9;
$primary-decoration-color-hover: #2ea8e6;
$second-decoration-color-default: #d91667;
$second-decoration-color-hover: #e62e7a;
$header-color-primary: #000000;
$text-color-primary: #666666;
//fonts
$exo-font: "Exo2.0-Thin", Arial;
$trebuchet-font: "TrebuchetMS", Arial;
